*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    height: 70px;
    background-color:goldenrod;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    list-style-type: none;
}

ul li a{
    padding: 0 15px;
    text-decoration: none;
    color: white;
}

.heavyball{
    padding: 0 15px;
}