*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: url(./Images/00d.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    
}

header{
    height: 85px;
    background-color:rgba(226, 169, 24, 0.6);;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    display: flex;
    list-style-type: none;
}

ul li a{
    padding: 0 15px;
    text-decoration: none;
    color: white;
}

.heavyball{
    padding: 0 15px;
}

#introduction{
    display:flex;
    height: calc(100vh - 85px);
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#introduction h1{
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    background-color: rgba(226, 169, 24, 0.6);
    padding: 20px;
    border-radius: 20px;
    border: black solid 4px;
}

#introduction .descr{
    text-align: center;
    font-size: 28px;
    color: black;
    background-color: #f3a738;
    border-radius: 20px;
    border: black solid 2px;
    margin:  30px;
    padding: 10px 10px;
    
}

.button{
    font-size: 30px;
    padding: 15px 30px;
    background-color: brown;
    color: white;
    text-decoration: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
}

#pokemons{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0;
    background-color: #f3a738;
    border: black solid 2px;
}

#pokemons .textlist{
    font-size: 34px;
    font-weight: 700;
}

.pkmboxes{
    display: flex;
    align-items: center;
    flex-flow: wrap;
    justify-content: space-evenly;
}

.pkmbox{
    width: 240px;
    height: 280px;
    background-color: goldenrod;
    margin-top: 35px;
    border-radius: 20px;
    padding: 15px;
    border: black solid 2px;
    text-align: center;
}